header{
	background-color: lightblue;
	height: 200px;
}
main{
	background-color: lightyellow;
	height: 500px;
	display:flex;
	flex-direction: row;
}
footer{
	background-color: lightgreen;
	height: 200px;
}
.main{
	background-color: lightred;
	height: 500px;
	width: 951.5px;
}
.main2{
	background-color: green;
	height: 500px;
	width: 951.5px;
}
.pic{
	height:250px;
	width: 60%;
	margin: 0 auto;

}
.pic2{
	background-color: blue;
	height:250px;
	width:60%;
	margin: 0 auto;

}
.menu{
	text-align: center;
	font-size: 75px;
}
.footer{
	text-align:center;
	font-size: 75px;
}
.text{
	background-color: red;
	height:250px;
	width:60%;
	margin: 0 auto;
}
.text2{
	background-color: red;
	height:250px;
	width:60%;
	margin: 0 auto;
}
.image{
	height: 250px;
	width: 100%;
}
.p-text{
	text-align: center;
	font-size: 25px;
}
.logo{
	height: 200px;
	margin-top: -75px;
	margin-left: -25px;
}
ul {
  padding-top: 30px;
}

li {
  float: right;
  padding: 5px 15px 5px 15px;
  margin-right: 10px;
  border: 1px solid white;
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

li:hover {
  background-color: grey;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
nav {
	float:  right;
}